Port 22
AddressFamily any

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
AuthorizedKeysFile /etc/ssh/authorized_keys

HostbasedAuthentication yes
IgnoreUserKnownHosts yes
IgnoreRhosts yes

Banner none

Subsystem sftp /usr/lib/ssh/sftp-server

PubkeyAuthentication yes
PasswordAuthentication no

DenyUsers root

