Port 22
AddressFamily any
PidFile /run/sshd.pid

UsePAM yes
PubkeyAuthentication yes
PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
HostCertificate /etc/ssh/ssh_host_ecdsa_key
AuthorizedKeysFile  %h/.ssh/authorized_keys

HostbasedAuthentication yes
IgnoreUserKnownHosts no
IgnoreRhosts yes

Banner none
PrintMotd no

Subsystem sftp /usr/lib/ssh/sftp-server

# Allowed user for ssh

